Diagram.SRC/Diagram/bin
Diagram.SRC/Diagram/obj
Diagram.SRC/.vs
install-linux/Output
install-linux/infinite-diagram.deb
install-linux/infinite-diagram
install-windows/Output
install-windows/files
Documentation/Doxygen/html
.vs
/Diagram.SRC/Diagram/publish
*.pfx
/Diagram.SRC/Plugins/FirstPlugin/obj
/Diagram.SRC/Plugins/FindUidPlugin/obj
